/***** Start of primary nav ******/
#menu-button{display: none;}
nav.mobile { display:none;}

nav.primary {
	padding:0;
	display:block;
	margin:0;
	width:100%;
	position:relative;
}
nav.primary ul {
	margin:0; 
	padding:0;
}
nav.primary ul li {
	display:inline-block;
	margin:0;
	list-style-type:none; 
}
nav.primary ul li a {
	font-size:16px;
	line-height:20px;
	text-decoration:none;
	padding:0;
	display:block;
	margin:0;
	text-align:center;
	text-transform:uppercase;
	-webkit-transition:.4s ease-in;  
	-moz-transition:.2s ease-in;  
	-o-transition:.2s ease-in;  
	transition:.2s ease-in;	
	padding:10px 15px;
}	
nav.primary ul li a:hover {text-decoration:underline;}

/******** End of primary Nav ***************/


@media screen and (max-width: 1250px)  {
nav.primary ul li a {font-size:14px; padding:10px;}
}

@media screen and (max-width: 300px)  {
nav.primary ul li a {font-size:10px; padding:10px 3px;}
}

