body{font-family: 'Roboto Condensed', sans-serif;  margin:0;}/*for demo purposes only*/

.clear{clear:both;}

/***** Start of primary nav ******/
#menu-button{display: none;}
nav.mobile { display:none;}

nav.primary {
	padding:0;
	display:block;
	margin:0;
	width:100%;
	position:relative;
	}
	nav.primary ul {
		margin:0; 
		padding:0;
		}
		nav.primary ul li {
			display:inline-block;
			margin:0;
			list-style-type:none; 
			}
			nav.primary ul li a {
				color:#fff;
				font-size:16px;
				line-height:20px;
				text-decoration:none;
				padding:0;
				display:block;
				margin:0;
				text-align:center;
				text-transform:uppercase;
				-webkit-transition:.4s ease-in;  
				-moz-transition:.2s ease-in;  
				-o-transition:.2s ease-in;  
				transition:.2s ease-in;	
				padding:10px 15px;
				}	
			nav.primary ul li a:hover {color:#ccc;}

			/* Appearance of the sub-level links */
			nav.primary ul li li a { 
				font-size:14px;
				line-height:16px;
				padding:10px 0;
				color:#fff;
				background: #282828;
				text-align:left;
				border-right:none;
				border-left:none;
				padding-left:20px;
				border-bottom: #464646 solid 1px;
			}
			/* Appearance of the sub-level links on hover */
			nav.primary ul li li a:hover { 
			}
/* This controls the Primary nav dropdowns for sublinks. Should not have to edit this too muuch */
nav.primary ul ul {
    display: none;
    position: absolute; 
}
nav.primary ul ul ul {
    position: absolute; 
    left: 100%;
    top:0; 
}
nav.primary ul li:hover > ul {  
    display: block;
    line-height:18px; 
    z-index: 100;
}
nav.primary ul ul li {
    display:block;
	width: 230px;
    position: relative;
    margin:0;
}
/******** End of primary Nav ***************/


@media screen and (max-width: 1250px)  {
nav.primary ul li a {font-size:14px;}
}

@media screen and (max-width: 450px)  {
nav.primary ul li a {font-size:14px; padding:10px 8px;}
}

